.chessboard {
    display: grid;
    width: var(--chessboardLength);
    height: var(--chessboardLength);
    grid-template-columns: repeat(8, var(--width));
    grid-template-rows: repeat(8, var(--width));
    background: #ccc;
    grid-area: c;
    resize: both;
    touch-action: none;
}