.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
}

.square .chess-piece{
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--width);
    width: var(--width);
    height: var(--height);
}

.square .chess-piece:hover{
    cursor: grab;
}
.square .chess-piece:active{
    cursor: grabbing;
}
.black-square {
    background-color: #D08A46;
}
.white-square {
    background-color: #FFCD9D;
}
.highlighted-square:not(.chess-piece-square)::before {
    content: ' ';
    width: calc(var(--height) / 3.3);
    height:  calc(var(--height) / 3.3);
    border-radius: 99%;
    background-color: rgba(0, 0, 0, 0.2);
}
.highlighted-square.chess-piece-square::before {
    position: absolute;
    content: ' ';
    width: var(--width);
    height: var(--height);
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 99%;
}
