.tile {
    display: flex;
    width: 62.5px;
    height: 62.5px;
    justify-content: center;
    align-items: center;
}

.tile .chess-piece{
    width: 62.5px;
    height: 62.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
}

.tile .chess-piece:hover{
    cursor: grab;
}
.tile .chess-piece:active{
    cursor: grabbing;
}
.black-tile {
    background-color: #D08A46;
}
.white-tile {
    background-color: #FFCD9D;
}
.highlighted-tile:not(.chess-piece-tile)::before {
    content: ' ';
    width: 18px;
    height: 18px;
    border-radius: 99%;
    background-color: rgba(0, 0, 0, 0.2);
}
.highlighted-tile.chess-piece-tile::before {
    position: absolute;
    content: ' ';
    width: 53.5px;
    height: 53.5px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 99%;
}
