.confirmResign {
    background-color: #2a2a2a;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    position: absolute;
}

.confirmResign > .confirmResignButton button {
    padding: 0 20px;
}
