
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    min-height: 100vh;
}

.chessboard-wrapper{
    display: grid;
    grid-template-areas: 
    ". h-a ."
    "v-a c v-b"
    ". h-b .";
    column-gap: 10px;
    row-gap: 3px;
}
.return-home {
    position: absolute;
    top: 10px;
    left: 10px;
}
@media (width < 768px) {
    .chessboard-container {
        height: 100vh;
        display: grid;
        place-content: center;
    }
}
