
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.chessboard-container{
    display: grid;
    grid-template-areas: 
    ". h-a ."
    "v-a c v-b"
    ". h-b .";
    column-gap: 10px;
    row-gap: 3px;
}


