
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.chessboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.room {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

