.move-list {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    margin-left: 20px;
    height: 500px;
    width: 350px;
    color: white;
    border-radius: 3px;
}
.move-list > .move-list-header {
    text-align: center;
    font-weight: bold;
    margin: 15px;
}
.move-list-body {
    height: 445px;
    overflow-y: auto;
}

.move {
    height: 35px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-weight: 500;
    border-bottom: 1px solid #1d1d1d;
    background-color: #2e2e2e;
}
.move > .move-items {
    width: 100px;
    display: flex;
    align-items: center;
}
.move > .move-items > img {
    width: 25px;
}
.move-list > .move-list-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 40px;
    color: #c7c7c7;
}
.move-list > .move-list-footer > .online-buttons{
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
}
.move-list > .move-list-footer  button{
    border: none;
    color: #c7c7c7;
    background-color: #2a2a2a;
    border: none;
    padding: 5px;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    font-size: 14px;
}
.move-list > .move-list-footer > .room {
    font-size: 14px;
    grid-column: 3 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.move-list > .move-list-footer button:hover {
    background: #434343;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
}