.tile {
    display: grid;
    width: 62.5px;
    height: 62.5px;
    place-content: center;
}

.tile .chess-piece{
    width: 62.5px;
    height: 62.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}
.tile .chess-piece:hover{
    cursor: grab;
}
.tile .chess-piece:active{
    cursor: grabbing;
}
.black-tile {
    background-color: #D08A46;
}
.white-tile {
    background-color: #FFCD9D;
}
.highlighted-tile::before {
    content: ' ';
    width: 18px;
    height: 18px;
    border-radius: 99%;
    background-color: rgba(0, 0, 0, 0.5);
}
