.play-alert {
    width: 350px;
    height: 200px;
    background-color: beige;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.play-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 18px;
    width: 85%;
    background-color: #597750;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

.play-btn-hover:hover {
    cursor: pointer;
    background-color: #75a068;
    transition: all .3s ease-in-out;
}

.play-btn-disabled {
    background-color: #86b478;
}

.play-input-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.play-input-container>label {
    width: 38%;
    font-size: 16px;
}

.play-input-container>input {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

.play-input-container>button {
    width: 20%;
}