.checkmate-card {
    width: 280px;
    height: 50%;
    background-color: #575757;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1.4px solid #000;
}
.checkmate-card > .checkmate-card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.checkmate-card > .checkmate-card-body > button {
    color: #fff;
    background: none;
    border: none;
    padding: 12px;
    border: 1.4px solid #fff;
    border-radius: 10px;
    font-size: 18px;
}
.checkmate-card > .checkmate-card-body button:hover {
    background: #6c6c6c;
    cursor: pointer;
    transition: all .3s;
}

.checkmate-card > .checkmate-card-body > span {
    border-bottom: 1.5px solid #fff;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
